<div class="card mt-3 container row" style="width: 15rem;">
  <img src="{{productos.Foto}}" class="card-img-top mt-2" alt="">
  <div class="card-body">
    <h5 class="card-title">{{productos.nombre}}</h5>    
    <p class="card-text"><b>Precio: ${{productos.precio}}</b></p>
    <div class="row">
      <form action="/" method="post"> 
        <button class="btnCoti" value="{{productos.nombre}}" name="origin">Agregar</button>
        <input placeholder="Enter a number" required type="number" value="" min="0" max="100" id="Cantidad-{{productos.nombre}}" class="col-6"/>  
      </form>        
    </div>  
  </div>
</div>